<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class ="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" [routerLink] = "['/colorpatches']" routerLinkActive ="routerlinkactive" >Colorpatches</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink] = "['/memorygame']" routerLinkActive ="routerlinkactive" >Memorygame</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink] = "['/eigenapp']" routerLinkActive ="routerlinkactive" >Eigenapp</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>